<a href="https://colab.research.google.com/github/abhishekkmrbgs/python-assignments/blob/main/Python_Assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Java + DSA
#1. Explain the key features of Python that make it a popular choice for programming.

    Python is a high-level, interpreted programming language known for its simplicity, readability, and versatility. Created by Guido van Rossum and first released in 1991.

    Python was designed to emphasize code readability with a clean and straightforward syntax, allowing programmers to express concepts with fewer lines of code compared to many other languages.


    Key Features of Python:

    a. Easy to Learn and Use : Python codes reads almost like English , making it intutive for beginners to understand what each line of code is doing.
    for example, instead of using complex symbol, python often used words like "print" to display output.

    Print("Hello world")
     
    This line code printed Hello world to the screen.


    b. Interpreted Language  : Python is an interpreted language, meaning code is executed line-by-line, making it easier to debug and test. For beginners, especially those not fluent in English, this helps them catch errors early and understand what went wrong without complex compilation steps.
    for example,
    a = 5
    b = 3
    print(a + b)
    8
    Line 1 (a = 5): The interpreter reads this line and stores the value 5 in the variable a.

    Line 2 (b = 3): The interpreter moves to this line and stores the value 3 in the variable b.

    Line 3 (print(a + b)): The interpreter evaluates a + b (which is 5 + 3 = 8) and then prints 8 to the console.






    c. Large Community and Support :  Python has an active community that contributes to its development, provides support, and creates a wealth of learning resources and libraries, making it easier for newcomers to learn and get help.



    d. supports Multiple Programming Paradigms : Python supports object-oriented programming (OOP), which enables encapsulation, inheritance, and polymorphism.
    It also supports functional programming, allowing the use of features like lambda functions, map, and filter.
    This flexibility enables developers to choose the paradigm that best fits their project.






    e. Large Ecosystem of Libraries and Frameworks

    Python has a massive ecosystem, with libraries and frameworks for virtually every application:
    Data Science and Machine Learning: Libraries like NumPy, pandas, scikit-learn, and TensorFlow make Python ideal for data analysis and AI.
    Web Development: Frameworks like Django and Flask support robust, scalable web applications.
    Automation and Scripting: Libraries for system administration, task automation, and DevOps make it popular for these fields.

    f.  Automation and Scripting :
   
    Python is widely used for automating repetitive tasks in system administration, DevOps, and testing. It’s an ideal scripting language because of its simplicity and extensive library support, which helps automate complex workflows efficiently.

    g.  Dominance in Data Science and Machine Learning :

    Python’s popularity in data science is unmatched, thanks to its robust libraries for data analysis, machine learning, and visualization.
    With powerful libraries like TensorFlow, Keras, scikit-learn, and pandas, Python has become the go-to language for professionals in data science, AI, and machine learning.




    Python’s simplicity, flexibility, strong community, and vast ecosystem make it a powerful choice for beginners and professionals alike. Whether you’re building a quick automation script or developing complex machine learning algorithms, Python’s features empower developers across various domains.

#2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.


    > Predefined keywords

    Keywords are reserved words in Python that have special meanings and cannot be used as identifiers (variable names, function names, etc.).

    Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc.

    Keywords are case-sensitive and cannot be redefined or overridden within a Python program.


    > Control Flow Keywords

    if, elif, else: Used for conditional branching. They help control which block of code runs based on specific conditions.

    Example:

In [ ]:
age = 18
if age >= 18:
    print("You are an adult.")
elif age > 12:
    print("You are a teenager.")
else:
    print("You are a child.")

You are an adult.

In [ ]:
 #for, while, break, continue: Used for looping and controlling loop flow. simple example


# Using for loop with continue

for i in range(5):
    if i == 2:
        continue  # Skip the rest of the loop body when i is 2
    print(i)  # This will print 0, 1, 3, 4 (skipping 2)

0
1
3
4

In [ ]:
# Using while loop with break

count = 0
while count < 5:
    if count == 3:
        break  # Exit the loop when count is 3
    print(count)
    count += 1  # This will print 0, 1, 2 (stops at 3)

0
1
2

    > Logical and Boolean Keywords

    and, or, not: Used to perform logical operations.

In [ ]:
is_raining = True
has_umbrella = False

if is_raining and not has_umbrella:
    print("You should take an umbrella.")
elif is_raining or has_umbrella:
    print("You may be fine.")

You should take an umbrella.

    > Exception Handling Keywords

    try, except, finally: Used for error handling.

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero.")
finally:
    print("Operation complete.")

Cannot divide by zero.
Operation complete.

 # 3. Compare and contrast mutable and immutable objects in python   with examples.

    1. Definition

    > Mutable Objects

    Definition: Mutable objects allow their values or contents to be changed after the object is created.

    Examples: Lists, dictionaries, sets, and most user-defined objects.

    > Characteristics of Mutable Objects:

    Editable: You can alter the contents without creating a new object.


    Same Memory Location: Modifying a mutable object (like a list) does not create a new object; the existing object in memory is altered.

    > Immutable Objects

    Definition: Immutable objects do not allow modifications after creation. Any operation that seems to modify the object actually creates a new object.

    Examples: Integers, floats, strings, tuples, and frozensets.

    > Characteristics of Immutable Objects:

    Unchangeable: Once created, their contents cannot be altered.
    New Memory Location on Change: Operations that alter an immutable object create a new object with a different memory address.


    > Use Cases

    Mutable Objects are preferred when you need to frequently modify data, such as updating elements in a list.

    
    Immutable Objects are useful when you need to ensure data remains constant throughout the program, like using strings as dictionary keys.



    2. Examples

    Mutable types: Lists, dictionaries, sets, byte arrays.


    Immutable types: Integers, floats, strings, tuples, frozensets.

In [ ]:
#Mutable Example: List

my_list = [1, 2, 3]
my_list.append(4)  # Modifying the list
print(my_list)

[1, 2, 3, 4]

In [ ]:
# Modifying the list by changing an element
my_list = [1, 2, 3]
my_list[0] = 4
print(my_list)  # Output: [4, 2, 3]

[4, 2, 3]

In [ ]:
#Immutable Example: String

my_string = "Hello"
new_string = my_string + " World"  # Creating a new string
print(new_string)  # Output: "Hello World"

Hello World

# 4. Discuss the different types of operators in Python and provide examples of how they are used.

    python operators:- Special Keyword , symbol that are use to perform operation on value or variable.
     
    We want to manage do computation and make decision using data.

    > Many types of operators in python
    1. Arithmetic operators
    2. Assignment operatirs
    3. Comparison Operators
    4. Logical Operators
    5. Bitwise Operators
    6. Membership Operators
    7. Identity Operators

> Arithmetic Operators.

    These operators perform basic mathematical operations on numbers.

    Addition (+):
    Subtraction (-) :
    Multiplication (*):
    Division (/):
    Floor Division (//):
    Modulus (%) :
    Exponentiation (**):

In [ ]:
a = 10
b = 5
print(a + b)  # Output: 15

15

In [ ]:
print(a - b)  # Output: 5

5

In [ ]:
print(a * b)  # Output: 50

50

In [ ]:
print(a / b)  # Output: 2.0

2.0

In [ ]:
print(a // b)  # Output: 2

2

In [ ]:
print(a % b)  # Output: 0

0

In [ ]:
print(a ** 2)  # Output: 100

100

 . > Assignment Operators

    These operators assign values to variables and can combine assignment with other operations.
    1. Simple assignment (=) :
    2. Add and assign (+=):
    3. Subtract and assign (-=):
    4. Multiply and assign (*=):
    5. Divide and assign (/=):

In [ ]:
a = 5

In [ ]:
a += 5  # Equivalent to a = a + 5
print(a)  # Output: 10

10

In [ ]:
a -= 3  # Equivalent to a = a - 3
print(a)  # Output: 7

7

In [ ]:
a *= 2  # Equivalent to a = a * 2
print(a)  # Output: 14

14

In [ ]:
a /= 2  # Equivalent to a = a / 2
print(a)  # Output: 7.0

7.0

. > Comparison Operators

    These operators compare two values and return a Boolean (True or False).

    1. Equal to (==) :
    2. Not equal to (!=) :
    3. Greater than (>) :
    4. Less than (<):
    5. Greater than or equal to (>=):
    6. Less than or equal to (<=):

In [ ]:
a = 10
b = 5
print(a == b)  # Output: False

False

In [ ]:
print(a != b)  # Output: True

True

In [ ]:
print(a > b)  # Output: True

True

In [ ]:
print(a < b)  # Output: False

False

In [ ]:
print(a >= b)  # Output: True

True

In [ ]:
print(a <= b)  # Output: False

False

. > Logical Operators



    Logical operators are used to combine conditional statements.

    1. AND (and): Returns True if both operands are true.
    2. OR (or): Returns True if at least one operand is true.
    3. NOT (not): Returns True if the operand is false.

In [ ]:
x = True
y = False
print(x and y)  # Output: False

False

In [ ]:
print(x or y)  # Output: True

True

In [ ]:
print(not x)  # Output: False

False

. >  Bitwise Operators


    Bitwise operators operate on binary digits of numbers.


    1. AND (&):
    2. OR (|):
    3. XOR (^):
    4. NOT (~):
    5. Left Shift (<<):
    6. Right Shift (>>):

In [ ]:
a = 5  # 0b0101
b = 3  # 0b0011
print(a & b)  # Output: 1 (0b0001)

1

In [ ]:
print(a | b)  # Output: 7 (0b0111)

7

In [ ]:
print(a ^ b)  # Output: 6 (0b0110)

6

In [ ]:
print(~a)  # Output: -6 (Inverts all bits)

-6

In [ ]:
print(a << 1)  # Output: 10 (0b1010)

10

In [ ]:
print(a >> 1)  # Output: 2 (0b0010)

2

 .> Membership Operators



    These operators check for membership within a sequence (like a string, list, or tuple).

    1. In (in): Returns True if a specified value is found in the sequence.

    2. Not in (not in): Returns True if a specified value is not found in the sequence.

In [ ]:
my_list = [1, 2, 3, 4]
print(2 in my_list)  # Output: True

True

In [ ]:
my_list = [1, 2, 3, 4]
print(5 in my_list)  # Output: False

False

In [ ]:
print(5 not in my_list)  # Output: True

True

In [ ]:
print(4 not in my_list)  # Output: False

False

 .>Identity Operators

    Identity operators check if two objects reference the same memory location.

    Is (is): Returns True if both operands refer to the same object.

    Is not (is not): Returns True if operands do not refer to the same object.

In [ ]:
a = [1, 2, 3]
b = a
print(a is b)  # Output: True

True

In [ ]:
c = [1, 2, 3]
print(a is not c)  # Output: True

True

In [ ]:
c = [1, 2, 3]
print(b is not c)  # Output: True

True

# 5. Explain the concept of type casting in Python with examples.


    Type casting in Python is the process of converting one data type to another. It can be useful when we want to perform operations that require operands of the same data type or when we need to interpret a variable's value in a different type.


    There are two types of type casting in Python:

    > 1. Implicit Type Casting

    In implicit type casting, Python automatically promotes a smaller data type to a larger data type to avoid data loss. For example, Python will convert an int to a float if a mathematical operation involves both types.

    Implicit Type Casting: Python automatically converts one data type to another without explicit instruction.



    > 2.  Explicit Type Casting

    In explicit type casting, the programmer uses Python's built-in functions to manually convert a variable from one type to another. Common functions for explicit type casting include:

    int() for converting to integer
    float() for converting to float
    str() for converting to string
    list() for converting to list
    tuple() for converting to tuple

    Explicit Type Casting: The programmer explicitly converts one data type to another using specific functions.

In [ ]:
# Example of Implicit Type Casting:

num_int = 5       # Integer
num_float = 4.5   # Float

result = num_int + num_float  # Python converts num_int to float
print(result)     # Output: 9.5
print(type(result))  # Output: <class 'float'>

9.5
<class 'float'>

In [ ]:
num_int = 5       # Integer
num_float = 4.5   # Float

result = num_int + num_float       # Python implicitly converts num_int to float
result_int = int(result)            # Explicitly convert result to int
print(result_int)                   # Output: 9
print(type(result_int))             # Output: <class 'int'>

9
<class 'int'>

In [ ]:
#Example of Explicit Type Casting:

# Converting float to integer
num_float = 7.8
num_int = int(num_float)  # Explicit casting
print(num_int)      # Output: 7 (fractional part is truncated)
print(type(num_int))  # Output: <class 'int'>

7
<class 'int'>

In [ ]:
# Converting string to integer
num_str = "123"
num_int = int(num_str)  # Explicit casting
print(num_int)      # Output: 123
print(type(num_int))  # Output: <class 'int'>

123
<class 'int'>

In [ ]:
# Converting integer to string
num = 99
num_str = str(num)  # Explicit casting
print(num_str)      # Output: '99'
print(type(num_str))  # Output: <class 'str'>

99
<class 'str'>

# 6.  How do conditional statements work in Python? Illustrate with examples.


    In Python, conditional statements allow you to execute code base on        certain conditions. The most common conditional statements are:

    if statement - Executes a block of code if a condition is true.


    else statement - Executes a block of code if the condition is false (used with if).


    elif statement - Checks another condition if the previous if condition was false.

In [ ]:
#Basic if statement
age = 18
if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

In [ ]:
#Using if...else
temperature = 30
if temperature > 25:
    print("It's warm outside.")
else:
    print("It's cool outside.")

It's warm outside.

In [ ]:
#Using if...else
temperature = 30
if temperature > 33:
    print("It's warm outside.")
else:
    print("It's cool outside.")

It's cool outside.

In [ ]:
#Using if...elif...else
score = 85
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: B

In [ ]:
# Nested if statements
age = 20
has_id = True

if age >= 18:
    if has_id:
        print("You can enter.")
    else:
        print("ID required to enter.")
else:
    print("You must be 18 or older to enter.")

You can enter.

In [ ]:
age = 17
has_id = True

if age >= 18:
    if has_id:
        print("You can enter.")
    else:
        print("ID required to enter.")
else:
    print("You must be 18 or older to enter.")

You must be 18 or older to enter.

# 7.  Describe the different types of loops in Python and their use cases with examples.



    Python provides several types of loops to execute a block of code repeatedly. The primary types of loops in Python are:

     1. for loop
     2. while loop
     3. Nested loops



     > 1.  for Loop

    The for loop is used for iterating over a sequence (like a list, tuple, string, or range). It repeats a block of code for each item in the sequence.

    Use Cases:

    Iterating over a list of items.

    Executing a block of code a specific number of times.

    Traversing elements in a string or tuple.


    > 2.  while Loop

    The while loop repeats a block of code as long as a condition is True. It is useful when you don't know beforehand how many times you'll need to repeat the task.

    Use Cases:

    Repeating an action until a certain condition is met.

    Creating loops where the end condition is determined by user input or some dynamic calculation.



    > 3. . Nested Loops

    A nested loop means having one loop inside another. It is useful when you need to perform actions in a multi-dimensional structure like a list of lists (e.g., a matrix).

    Use Cases:

    Working with tables or grids (like 2D lists).

    Solving problems that involve combinations or permutations. Nested Loops.

In [2]:
# For loops example

# Example 1: Iterating over a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [3]:
# Example 2: Using `range` to repeat a task
for i in range(5):  # Iterates from 0 to 4
    print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [4]:
# While loops example

# Example: Counting down from 5 to 1
count = 5
while count > 0:
    print(count)
    count -= 1  # Decreases the count by 1 in each iteration

5
4
3
2
1

In [5]:
#  Nested Loops example

# Example: Printing a 2D list (matrix)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:        # Outer loop for each row
    for element in row:   # Inner loop for each element in the row
        print(element, end=' ')
    print()  # Moves to the next line after printing a row

1 2 3
4 5 6
7 8 9